@charset "utf-8";

.centerer {
    text-align: center;
    display: grid; /* Picked up from redblobgames, ensures other elements fit size */
    justify-content: center; /* Centers the above */
    grid-template-areas: "game" "message-area";
}

#game {
	font-size: 16px; 
    background-color: #000;
    grid-area: game;
	z-index: 1;
}

#messages {
    grid-area: message-area;
	box-sizing: border-box;
	font-family: "DejaVuSansMono", "DejaVu Sans Mono", monospace;
    font-size: 0.8em;
    height: 6em; /* 5 lines of text plus fudge*/
    line-height: 1.0;
    background: black;
    color: white; /* Default - overwritten by gameMessage */
    margin: 0;
    padding: 0.5em 1em;
    text-align: left;
    z-index: 1;
    max-width: 30.2em;
}

.overlay {
    grid-area: game;
    z-index: 0;
    height: auto;
    align-self: center;
    padding: 0.5em;
    line-height: 1.0;
    font-family: monospace;
    font-size: 0.8em;
    opacity: 0;
    background: black;
    color: white;
}
.overlay.visible {
    z-index: 2;
    /* box-shadow: 0 1px 4px -3px white; */
    opacity: 1;
}

.overlay li {
    text-align: left;
}